<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/">
        <a>Home</a>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/leis">Leis</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/instituicoes">Instituições</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/busco_ajuda">Busco ajuda</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/oferecer_ajuda">Oferecer ajuda</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/contatos">Contatos</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Por elas</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
